

.custom__content{
    z-index: 99;
}
.custom__opacity {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .3;
    z-index: 10;
    position: absolute;
}

.slider-1{
    background-image: url(../image/carousel/2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-2{
    background-image: url(../image/carousel/3.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-3{
    background-image: url(../image/carousel/4.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------
client section css 
-----------------------*/

.client img {
    width: 150px;
}

/*---------------------
 team section css 
 ----------------------*/
 img.card-img-top {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #0c2e8a ;
    margin: auto;
}